	<div id="menu">
		<ul>
			{% if user.is_authenticated %}
			<li class="active"><a href="{% url 'listpost' %}">Home</a></li>
			<li><a class ='addpost' >Add Post</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Contact Us</a></li>
			{% endif %}
		</ul>
	</div>
						<script type="text/javascript">
						$("a").click(function(){
							blogno=$(this).attr("class")
		    				$("#content").load("{% url 'addpost' %}")
		    				$("#currentblogno").val(blogno)
		    				//alert($(this).attr('class'))
		 				 });
					</script>
	<!-- end #menu -->
