
	<div id="sidebar-bgtop"></div>
		<div id="sidebar-content">
			<div id="sidebar-bgbtm">
			<ul>
					<li>
						<h2>Blog Titles</h2>
						<ul>
							{% if object_list %}
							{% for post in object_list %}
								<li><a href="/blog/{{post.id}}/mainblog2" id="{{post.id}}" class="sidebar">{{ post.title}}</a></li>
							{% endfor %}
							{% else %}
							{{post.title}}
							{% endif %}
						</ul>
					</li>
					<script type="text/javascript">
					

							$("a.sidebar").click(function(event){
									event.preventDefault();
		    						blogno=$(this).attr("id");
				    				$(".post").load("/blog/"+blogno+"/fullpost/");
				    				$("#currentblogno").val(blogno);
				    				

  							});   

						
					</script>
				</ul>
			</div>
		</div>

	<!-- end #sidebar -->