{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

<form action="" method="post" class="form">
    {% csrf_token %}
     {{ postform.as_p }}
    {% for form in postform %}
    <div class="form-group">
    {{form.label}}
    {{form.value}}

    </div>
    {% endfor %} 


    {% bootstrap_form postform %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>