
			<h2 class="title">{{post.title}}</h2>
			<p class="byline"><small>{{post.text}}...</small></p>
			<div class="meta">
				<p class="links">Author :: <a href="#" class="comments">{{ post.author }}</a> Created on :: {{ post.created_on }}</p>
			</div>
			<table class="table bordered ">
				<tr><td>Comments</td><td align=right>Commentor</td></tr>
			{% for comment in detailcomment %}
				<tr>
				<td>{{comment.text}}</td><td align="right">{{comment.name}}</td>
				</tr>
			{% endfor%}
			</table>

			<hr />
			<p id='commentbox'>Add Comment</p>

			<hr />
			<div id="comment">
			

			</div>

			<script type="text/javascript">

				$("#commentbox").click(function(){
							
		    				$("#comment").load("/blog/addcomment/")
		    				$("#commentbox").hide()
		    				
		 				 });

			</script>

	
