
			<h2 class="title">{{post.title}}</h2>
			<p class="byline"><small>{{post.text}}...</small></p>
			<div class="meta">
				<p class="links">Author :: <a href="#" class="comments">{{ post.author }}</a> Created on :: {{ post.created_on }}</p>
			</div>
			<table class="table bordered ">
				<tr><td>Comments</td><td align=right>Commentor</td></tr>
			{% for comment in detailcomment %}
				<tr>
				<td>{{comment.text}}</td><td align="right">{{comment.name}}</td>
				</tr>
			{% endfor%}
			</table>

			<hr />
			

			
			<div id="comment">Add a comment<br />
			<form action="{% url 'addcomment' %}" class="form" id="comform" method="post">
						    {% csrf_token %}

						     <!-- {{ commentform.as_p }} -->
						     	<p>Name<input type="text" name="name" id='name'></p>
						     	<p>Email<input type="text" name="email" id='email'></p>
								<input type="hidden" name="post" id="post">
						     	<p>Text </p><p><textarea name="text" id='text' cols=70 rows=5>  </textarea></p>

						        <button id="submitme" class="btn btn-primary">
								Comment
						        </button>
						       

						</form>

				<script type="text/javascript">
				$('#submitme').click(function(event) {

					
					a=$("#currentblogno").val();
					//alert(a)
					$("#post").val(a);
					
//					alert($("#post").val());
					//$("#conform").ajaxSubmit({url: '/blog/addcomment/', type: 'post'});
					$("#conform").ajaxSubmit();
					
					
				});
				</script>

			</div>

		