<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TechnoBlog</title>

{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
{% load bootstrap3 %}
{% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mainblogstyle.css' %}" media="screen" />

<script type="text/javascript">
	$(document).ready(function(){

	});
</script>
</head>
<body>
<input type="hidden" name="currentblogno" id="currentblogno" />