{% include "header.html" %}

<div id="wrapper">

<div id="header">
	<div id="logo">
		<h1><a href="#">TechnoBlog</a></h1>
		<p>
		{% if user.is_authenticated %}
		Welcome {{ user.username }}
		<a href="{% url 'logout' %}">Logout</a>
		
		{% else %}
		<a href={% url 'login' %}>Login</a>	
		{% endif %}
		</p>
	</div>
	<!-- end #logo -->
	{% include "includes/menu.html" %}
</div>
<!-- end #header -->
<div id="page">
	<div id="header-pic"></div>
	<div id="content">
		<div class="post">
			{% for post in object_list %}

			<h2 class="title">{{post.title}}</h2>
			<p class="byline"><small>{{post.text | truncatewords:50}}...</small></p>
			<div class="meta">
				<p class="links"><a href="#" class="comments">Comments (32)</a> &nbsp;&bull;&nbsp;&nbsp; <a href="/blog/{{post.id}}/fullpost" class="more">Read full post &raquo;</a> Author :: <a href="#" class="comments">{{ post.author }}</a> Created on :: {{ post.created_on }}</p>
			</div>
			{% endfor%}
		</div>
		  {% if is_paginated %}
          <div class="text-center">
            <div class="pagination">
                <span class="page-links">
                    <ul class="pagination">
                      {% if page_obj.has_previous %}
                          <li><a  href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
                      {% endif %}
                      
                      {% for page in page_obj.paginator.page_range %}
                              <li class="page {% if page == page_obj.number%}active{%endif%}"><a href="?page={{ page }}">{{ page }}</a></li>
                      {% endfor %}
                      {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
                      {% endif %}
                    </ul>
                </span>
            </div>
          </div>
        {% endif %}
	</div>
	<!-- end #content -->
	{% include "includes/sidebar.html" %}
	<div style="clear:both; margin:0;"></div>
</div>
<!-- end #page -->

</div>

<div id="footer">
	<p>&copy; 2014. All Rights Reserved. Design by <a href="kpoudel.com.np">Kmpoudel</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
